# build output
dist/
.output/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

pnpm-lock.yaml

.astro

.vercel/
.netlify/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
product_urls.json
raw_data.jsonl
progress.log
failed_urls.json
extract_products.py
scraped_products/
